.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.shop {
    flex-basis: 16%;  /* Make each child element the same width */
    border: 1px dotted black;
    padding: 1em;
    margin: 0.5em;
}